# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env
.env.*
!.env.example

.pytest_cache/

# Node
node_modules/
frontend/dist/
frontend/dist-admin/

# IDE
.vscode/
.idea/
*.swp

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db
